body{
    background-color: antiquewhite;
}

h1, h2{
    text-align: center;
}


.maskulin{
    background-color: rgb(90, 175, 236);
    color: rgb(15, 15, 214);
}

.feminine{
    background-color: rgb(244, 189, 189);
    color: rgba(254, 2, 2, 0.611);
    font-weight: bold;
}

.neuter{
    background-color: rgb(149, 203, 149);
    color: rgba(0, 128, 0, 0.781);
}

.container{
    display: flex;
    justify-content: space-around;
}

button{
    background-color: aliceblue;
    margin-top: 30px;
    padding: 25px;
}

button a{
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
}